body {
  background-color: rgb(61, 55, 55);
  height: 100%;
  border: 0.3rem solid rgb(8, 3, 6);
  box-shadow: 0px 1px 100px black inset;
  background: url(../Images/nightSky.jpg) no-repeat center center fixed;
}

header {
  margin-top: 1rem;
  position: relative;
  height: 35rem;
  background: url(../Images/gridPaper.png) no-repeat center center;
  /* background-color: rgb(39, 35, 35); */
  background-size: 80% 100%; /* This both sets the width and height to fit within a div */
}

#avatar {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  box-shadow: 0px 2px 10px black;
}

.nameBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30rem;
  font-family: "Play", sans-serif;
  text-shadow: 1px 1px 3px black;
}

.name {
  text-align: center;
}

#middleName {
  transform: skew(1deg, -16deg);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  display: inline-block;
}

.titles {
  color: white;
  font-size: 1.9rem;
}
#backStrip {
  width: 430px;
  height: 40px;
  position: relative;
  background: rgb(162, 45, 230);
  box-shadow: 0px 1px 10px black;
  transform: translate(5%, 0);
  margin-top: 1rem;
  text-align: center;
}
#backStrip:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid rgb(162, 45, 230);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#backStrip:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgb(162, 45, 230);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
